* {
    font-family: 'Didact Gothic',Tahoma, Verdana, sans-serif;
}

html {
    height: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

header, footer {
    text-align: center;
    flex-basis: 50px;
}

footer {
    margin-top: auto;
}

.calculator-container {
    margin:auto;
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

.calculator, .screen {
    border: solid black;
}

.calculator {
    padding: 10px;
    height: 80%;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px darkslategrey;
}

.screen {
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex: 1;
    font-family: 'Orbitron',Tahoma, Verdana, sans-serif;
    border: solid red;
}

#result {
    margin: 0;
    color: white;
    text-align: right;
    margin-top: auto;
    font-size: 50px;
    font-family: 'Orbitron',Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

.keypad {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 5;
}

.key-row {
    display: flex;
    flex: 1;
}

button {
    padding: 0;
    color: white;
    border: grey;
    font-size: 20px;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 50%;
    flex: 1;
    margin: 2px;
    transition-duration: 0.4s;
    box-shadow: 0 9px #5b8c82;
}

button:active {
    box-shadow: 0 5px #757d7b;
    transform: translateY(4px);
}
.addFn {
    background-color: lightgray;
    color: black;
}

.operator {
    background-color: orange;
}

#zeroButton { 
    flex: 2;
    border-radius: 100px;
}

